{% extends 'complaint/loggedout_base.html' %}
{% block title %} Login : CTS{% endblock %}
{% block content %}
	<div class="container">
		<div class="left"></div>
		<div class="right">
			<div class="formbox">
				<form method="post" action="{% url 'change-password' %}">
                    {% csrf_token %}
					<p>New Password</p>
					<input type="new password" name="new_password" placeholder="password">
					<p></p>
					<input type="submit" name="" value= "change password">
				</form>
			</div>
		</div>
		</div>
{% endblock %}