{% extends 'complaint/base.html' %}

{% block content %}
<br><br><br>

{% if zero_complaints %}
  <p>Uh-oh! There are no complaints!you can register your complaint here!</p>
  <a href=#>Register Here</a>
{% else %}
<div><h3>
  {% if is_admin %}
  Complaints
  {% else %}
  Your Complaints
  {% endif %}
</h3></div>
<div class="table">
<table class="complaint">
  <tr>
    <th onclick="sorttable(0)">ID</th>
    <th onclick="sorttable(1)">Info</th>
    <th onclick="sorttable(2)">Type</th>
    <th onclick="sorttable(3)">Reg.date</th>
    <th onclick="sorttable(4)">Status</th>
    <th onclick="sorttable(5)">Action</th>
  </tr>

  {% for complaint in complaints %}
  <tr>
    <td>{{ complaint.id }}</td>
    <td>{{ complaint.title }}</td>
    <td>{{ complaint.category }}</td>
    <td>{{ complaint.created_date }}</td>
    <td>{{ complaint.status }}</td>
    <td><a href="{% url 'view_complaints' %}?id={{ complaint.id}}" </a>View Details</td>
  </tr>
  {% endfor %}
{% endif %}
{% endblock %}
