<!doctype html>
<head>
<meta charset="utf-8">
	<title>Login Page</title>
</head>
<body>
	<div  class="title"><h1>LOGIN FORM</h1></div>
	<div class="container">
		<div class="left"></div>
		<div class="right">
			<div class="formbox">
				<form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
					<p>Username </p>
					<input type="text" name="username" placeholder="username ">
					<p>Password</p>
					<input type="password" name="password" placeholder="password">
                    <p></p>
                    <input type="checkbox" id="is_admin" name="is_admin">
                    <label for="is_admin">admin</label>
					<a href="#">Forgot password</a>
					<p></p>
					<input type="submit" name="" value= "log in">
				</form>
			</div>
		</div>
		
		</div>
</body>
</html>