{% extends 'complaint/loggedout_base.html' %}

{% block content %}
<!doctype html>
	<title> Signup page</title>
	<div  class="title"><h1>REGISTER USER</h1></div>
	<div class="container">
		<div class="left"></div>
		<div class="right">
			<div class="formbox">
				<form method="POST" action="{% url 'signup' %}">
                    {% csrf_token %}
					{% for field in form %}
					{{field.label}}
					{{field}}
					<br>
					{% endfor %}
					<input type="submit" name="" value= "log in">
				</form>
			</div>
		</div>
		</div>
{% endblock %}
