{% extends 'complaint/base.html' %}
{% block title %} {{ complaint.title }} {% endblock %}
{% block content %}
<div class="container_view" id="print">
	<div class="left_flex">
			
{% if complaint.is_anonymous == True %}
<p>This is anonymous</p>
{% else %}
<label id="label_view">Username:</label>
	<input type="text" name="" value= {{ request.user.username }} readonly>
<br>
<label id="label_view">user email:</label>
	<input type="text" name="" value= {{ request.user.email }} readonly>
{% endif %}
	<!--
		form for a user to view
	-->	
	<form class="db">
	
	
		<label id="label_view" for="title"><b>Complaint Subject: </b></label>
		<input type="text" name="" value= {{complaint.title }} readonly><br></br>
		<label id="label_view" id="l" for="type">Related to:</label>
		<input type="text" name="" value={{complaint.category }} readonly><br></br>
		<!--<input type="text" name="" readonly><br></br>-->
		<!--<label id="label_view" id="l" for="subject">Complaint Subject:</label><br></br> -->
		<label id="label_view" id="l" for="description"> Description:</label><br></br>
		<textarea id="ta" cols="50" rows="5" placeholder="describe.." style="width: 414px; height: 92px;" readonly>{{complaint.description}}</textarea><br></br><br>
	</div>

	<div class="right_flex">
			<label id="label_view" id="l" for="datetime">Date of Submit:</label>
			<textarea id='dt' readonly>{{complaint.created_date }}</textarea><br></br>
			<label id="label_view" id="l" for="stat">Status:</label>
			<input type="text" style="background-color:yellow;text-align: center;" name="" value={{complaint.status}} readonly><br><br/>		
		<!--
			if there is a image place it
		-->
		{% if complaint.photo %}
			<img width="100%" src="{{ complaint.photo.url }}">
		{% endif %}
		{% for remark in remarks %}
			<label id="label_view" for="remarks">Remarks:</label><br>
			<textarea class="hide-remarks-border" id="ta" cols="50" rows="6" >{{ remark.text }}</textarea>
			<p>date: {{ remark.date }}</p>
		{% endfor %}
	</form>

<!--
	if user is an admin then use this
-->
{% if request.user.profile.is_admin %}
	<form class="db" method="post" action="{% url 'view_complaint' complaint.id %}">
		{% csrf_token %}
		<label id="label_view" for="status">Status</label>
		<select name="status">
			{% for status in status_choices %}
			<option value="{{ status.0 }}"
			{% ifequal status.0 complaint.status %} selected{% endifequal %}>
			{{ status.1 }}</option>
			{% endfor %}
		</select><br><br/>
		<label id="label_view" for="remarks">Remarks:</label><br>
		<textarea id="ta" cols="50" rows="6" name=remark></textarea>
		<button class="update-button" type="submit" style="width: 290.84; height :54 ;" value="submit">Update</button>
	</form>
{% endif %}
<!--
	till here for admin
-->
	<div id="print_div">
		<button onclick="printDiv('print')" class="example-screen" id="print-btn">Print</button>
	</div>
</div>
</div>

<label style="font-family: sans-serif;font-size: 25px;text-align: center;"><u>Comments :</u></label><br>
{% for comment in comments %}
<div class="comments">
	<label id="label_cmnt_usr" style="color: darkmagenta;"><u>{{ comment.author.username}}</u></label><br>
	<label id="label_cmnt_txt" style="overflow: visible;font-weight: normal;">{{ comment.text }}</label><br>
	<label id="label_cmnt_time" style="color: crimson;">{{ comment.date }}</label>
</div>
{% endfor %}
<div class="comments" style="height: 40px;">
	<form method="POST" action="{% url 'view_complaint' complaint.id %}">
		{% csrf_token %}
		<input name="comment" type="text" value="" style="width: 90%;border: none;" placeholder="Add comment">
		<input type="submit" value="Add" style="background-color: blue;color: white;border-radius: 5px;margin-top: 10px;">
	</form>
</div>

<label style="text-align: center;color:black;width:100%;padding-bottom: 40px;">---thats all---</label>
<script>
	function printDiv(print) {
     var printContents = document.getElementById("print").innerHTML;
     var originalContents = document.body.innerHTML;
	 originalContents=window.open("");
	 originalContents.document.write(printContents);
	 originalContents.print();
	 originalContents.close();
}
</script>
{% endblock %}
