{% extends 'complaint/base.html' %}
{% block title %} {{ complaint.title }} {% endblock %}
{% block content %}
<div class="container" id="print">
	<div class="formbox2">
	<div class="title1"><u><b><b>Details</b></b></u></div>
	<form class="co">
{% if complaint.is_anonymous == True %}
<p>This is anonymous</p>
{% else %}
<p>Username: {{ request.user.username }}</p>
<p>user email: {{ request.user.email }}</p>
{% endif %}
	<form class="db">
		<label for="title"><b>Title of complaint:</label>
		<input type="text" name="" value= {{complaint.title }} readonly><br></br>
		<label for="type">Related to:</label>
		<input type="text" name="" value={{complaint.category }} readonly><br></br>
		<label for="subject">Complaint Subject:</label>
		<input type="text" name="" readonly><br></br>
		
		<label for="description"> Description:</label><br></br>
		<textarea id="ta" cols="50" rows="6" placeholder="describe.." >{{complaint.description}}</textarea>
	<br></br>

		<label for="datetime">Date of Submit:</label>
		<textarea id="ta" cols="20" rows=1 readonly>{{complaint.created_date }}</textarea><br></br>
		
		<label for="stat">Status:</label>
		<input type="text" name="" value={{complaint.status}}><br></br>
		{% if complaint.photo %}
			<img src="{{ complaint.photo.url }}">
		{% endif %}
		{% for remark in remarks %}
			<label for="remarks">Remarks:</label><br></br>
			<textarea class="hide-remarks-border" id="ta" cols="50" rows="6" >{{ remark.text }}</textarea>
			<p>date: {{ remark.date }}</p>
		{% endfor %}
	<br><br><br>
	</form>
{% if request.user.profile.is_admin %}
<form class="db" method="post" action="{% url 'view_complaint' complaint.id %}">
	{% csrf_token %}
	<label for="status">Status</label>
	<select name="status">
		{% for status in status_choices %}
		<option value="{{ status.0 }}"
		{% ifequal status.0 complaint.status %} selected{% endifequal %}>
		{{ status.1 }}</option>
		{% endfor %}
	</select>
	<label for="remarks">Remarks:</label><br></br>
	<textarea id="ta" cols="50" rows="6" name=remark></textarea>
	<button class="update-button" type="submit" value="submit">Update</button>
</form>
</form>
{% endif %}
<button onclick="printDiv()" class="example-screen" id="print-btn">Print</button>
</div>
<script>
	function printDiv() {
     var printContents = document.getElementById("print").innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
</script>
</div>
{% endblock %}
