{% extends 'complaint/base.html' %}
{% block title %} {{ complaint.title }} {% endblock %}
{% block content %}
<div class="title"><u><b><b>Details</b></b></u></div>
<div class="container">
<div class="formbox">
	<form>
		<label for="title"><b>Title of complaint:</label>
		<input type="text" name="" value= {{ complaint.title }} readonly><br></br>
		<label for="type">Category</label>
		<input type="text" name="" value={{ complaint.category }} readonly><br></br>
		<label for="description">Description:</label><br></br>
		<textarea id="ta" cols="50" rows="6" placeholder="describe.." >{{complaint.description}}</textarea>
	<br></br>

		<label for="datetime">Date of Submit:</label>
		<textarea id="ta" cols="20" rows=1 readonly>{{complaint.created_date }}</textarea><br></br>
		
		<label for="stat">Status:</label>
		<input type="text" name="" value={{complaint.status}}><br></br>
		{% for remark in remarks %}
			<label for="remarks">Remarks:</label><br></br>
			<textarea id="ta" cols="50" rows="6" >{{ remark.text }}</textarea>
			<p>date: {{ remark.date }}</p>
		{% endfor %}
	<br><br><br>
    </form>
{% if request.user.profile.is_admin %}
<form method="post" action="{% url 'view_complaint' complaint.id %}">
	{% csrf_token %}
	<label for="status">Status</label>
	<select name="status">
		{% for status in status_choices %}
		<option value="{{ status.0 }}"
		{% ifequal status.0 complaint.status %} selected{% endifequal %}>
		{{ status.1 }}</option>
		{% endfor %}
	</select>
	<label for="remarks">Remarks:</label><br></br>
	<textarea id="ta" cols="50" rows="6" name=remark></textarea>
	<button type="submit" value="submit">Update</button>
</form>
{% endif %}
</div>
</div>
{% endblock %}
